.footer__btn {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  color: $white;
  background-color: $gray;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: $dark-gray;
  }

  &:active {
    color: rgba($white, $alpha: 0.25);
    background-color: $black;
  }
}

@media (min-width: $tablet-width) {
  .footer__btn {
    padding: 69px 0;
    font-size: 24px;
  }
}

@media (min-width: $desktop-width) {
  .footer__btn {
    padding: 124px 0;
    font-size: 32px;
  }
}