body {
  font-family: "Graphik Web", "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}