@font-face {
  font-family: "Graphik Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Graphik-Regular-Cy-Gr-Web.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik Web";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Graphik-Medium-Cy-Gr-Web.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Graphik-Semibold-Cy-Gr-Web.woff2") format("woff2");
}