// COLORS
$white: #ffffff;
$light-gray: #eeeeee;
$gray: #909090;
$dark-gray: #525252;
$black: #202020;
$red: #d50000;

// BREAKPOINTS
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// HI-RES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;